/* BASE STYLES */

body {
    background-color: $primary-color;
    h1 {
        font-size: $font-size1;
    }
    p {
        font-size: $font-size2;
        color: $text-color;
        font-family: Helvetica, sans-serif;
    }
    
}