@import url('https://fonts.googleapis.com/css?family=Cairo');

$text-light: rgb(0, 161, 94); 
$text-dark: rgb(4, 105, 63);
$text-white: rgb(247, 244, 244);
$text-black: rgb(14, 13, 13);
$bg-color-1 : rgb(181, 201, 0);
$bg-color-2 : rgb(109, 117, 38);



$font-size-1: 3em;